*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header {
    margin: 25px 120px;
    padding: 5px;
} */

/* navbar style start here */

.Navbar-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.Navbar-design ul{
    display: flex;
    align-items: center;
}

.Navbar-design ul li{
    list-style-type: none;
    margin-right: 51px;
}

.Navbar-design li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}


/* shared Styles */

.btn-primary{
    background-color: #30B868;
    font-weight: 600;
    font-style: Semi Bold;
    color: white;
    font-size: 16px;
    padding: 18px 35px;
    border-radius: 5px;
    gap: 10;
    border: none;
    cursor: pointer;
}

/* navbar style end here */

/* Hero section style */

.hero{
    background: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.early-access{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    background: rgba(255, 255, 255, 1);
    border-radius: 1000px;
    /* gap: 6; */
    margin-top: 150px;
    margin-bottom: 10px;
    padding: 10px 18px;
}

.early-access:hover {
    background-color: transparent;
    border: 1px solid rgba(70,145,101,1);
    color: white;
}

.heading{
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.heading-green {
    color: rgba(48, 184, 104, 1);
}

.des-1{
    color: rgba(255, 255, 255, 1);
    /* font-style: Regular; */
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 16px 0px 32px 0px;
    text-align: center;
}

.button-container{
    display: flex;
    gap: 21px;
}

.btn-01{
    background-color: #30B868;
    padding: 16px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10;
    border: none;
    border-radius: 6px;
}

.btn-01 img{
    margin-left: 10px;
}

.btn-01:hover {
    color: rgba(70,145,101,1);
    background-color: white;
    border: 1px solid rgba(70,145,101,1);
    cursor: pointer;
}

.btn-02{
     background-color:transparent;
    padding: 16px 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10;
    border-radius: 6px;
    cursor: pointer;
}

/* hero section style end */

/* Cards styles start here */

.notes{
    margin: 120px auto;
    padding: 120px;
}

.card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20;
    margin-top: 80px ;
    margin-bottom: 40px;
}

.card-heading{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.card-text{
    font-style:bold;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    max-width: 250px;
    max-height: 350px;
}

.card-icon{
    background: #F95555;
    border-radius: 100px;
    padding: 13px;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.card-details{
    color: var( rgba(98, 115, 130, 1));
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* cards styles end here */

/* Brain section styles start */

.brain{
    margin: 120px auto;
}

.brain-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 120px;
}

.brain-solution{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain-paragraph{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    text-align: left;
}

.brain-heading{
    font-size: 43px;
    font-weight: bold;
    text-align: left;
}

.brain-para-2{
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    /* text-align: left; */
    color: rgb(101, 111, 121);
}

.solution-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.solution-list li{
    list-style: none;
}

/* Early access style */

.early-action-part{
    margin: 120px auto;
    padding: 120px;
}

.early-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin: 120px auto; */
    padding: 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
}

.early-action-heading{
    font-size: 43px;
    font-weight: 700;
    line-height: 48px;
}

.early-action-paragraph1{
    font-size: 16px;
    font-weight: 400;
    color: gray;
    text-align: center;
}

/* footer styles start */

footer{
    /* margin: 120px auto; */
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
    background: var(--Style, rgba(0, 25, 49, 1));
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px;
}

.social-link{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.social-icon{
    background-color: aliceblue;
    border-radius: 100px;
    padding: 10px;
    height: 30px;
    width: 30px;
    margin: 0px 5px;
}

hr{
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;

}


.copyright{
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 25px;
}